.gameCardWrapper
  position relative
  padding-left 5%
  padding-right 15%
  margin-bottom 75px
  text-align center

  &.right
    padding-right 5%
    padding-left 30%

  .Card
    max-width 1100px
    display flex
    align-items center
    justify-content space-evenly
    flex-wrap wrap
    background rgba(255, 237, 230, 0.65)
    border-radius 45px

    .TextSide
      width 50%
      height 100%
      flex 0 1 auto
      padding 3rem 0rem 3rem 1.2rem

      .CardTitle
        font-size 2rem
        line-height 1.1
        margin-bottom .5rem

      .CardInfo
        font-size 1.25rem
        text-align justify

    .ImgSide
      max-width 100%
      height auto
      overflow hidden
      margin-top 5%
      img
        position relative
        width 70%
        height auto
    .CreateRefContainer
      width 100%
      margin-top 1rem
      margin-bottom 3rem
      font-size 2remd


@media only screen  and (max-width: 1000px)
  .gameCardWrapper
    padding-left 5%
    padding-right 40px
    width 80%

    &.right
      padding-left 5%
      padding-right 40px

    .Card
      flex-direction column
      min-width 500px
      overflow hidden

      .TextSide
        margin 0
        width 70%

      .ImgSide
        width 70%
        padding .5rem 5rem 1rem 5rem
        img
          max-width 300px
          width 30%
          min-width 200px
      .CreateRefContainer
        margin-top 2rem
        .CreateRef
          font-size clamp(1.5rem, 5vw, 2rem)