a
  all unset
.CreateRef
  cursor pointer
  padding .5em 1.5em
  background hsla(169, 96%, 48%, 1)
  border-radius 50px

  font-family Alef
  font-style normal
  font-weight normal
  font-size 36px
  color black
  letter-spacing -0.005em

.CreateRef:hover
  background hsla(169, 96%, 68%, 1)