html
  overflow scroll

body
  width 100%
  height auto
  overflow hidden

html, body
  margin 0
  padding 0


#app
  font-family Alef
  font-style normal
  font-weight normal
  background-color white

::-webkit-scrollbar
  width 5px
  height 5px
  background-color #F5F5F5

::-webkit-scrollbar-thumb
    background-color hsl(0, 0%, 60%)
    border-radius 10px